<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.vince.snowfallprefs</string>
    <key>CFBundleName</key>
    <string>Snowfall</string>
    <key>CFBundleDisplayName</key>
    <string>Snowfall</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>NSPrincipalClass</key>
    <string>SnowfallPrefsRootListController</string>
</dict>
</plist>
